{% extends "base.html" %} {% block title %}About{% endblock %} {% block body %}
<div class="jumbotron">
  <p class="style_separator">As mentioned this web app is mainly for practicing flask (a Python Microframework), Python and testing out different technologies.
  <br>Jinja2 is a modern and designer-friendly templating language for Python, modelled after Django’s templates. 
      It is fast, widely used and secure with the optional sandboxed template execution environment.
  <p class="style_separator">Programming, databases and backend.</p>

  <p class="style_separator">This webapp has notebook, chatbot and Python stuff</p>


  
  <ul>
    <li>Python</li>
    <li>Jinja2</li>
    <li>Flask</li>
    <li>Linux</li>
    <li>Sqlite</li>
    <li>Bootstrap</li>
    <li>Gunicorn</li>
    <li>Nginx</li>
    <li>[...]</li>
  </ul>
  <br>
  <a href="https://github.com/spawnmarvel" target="_blank">Github</a>
  <br>
  <a href="https://github.com/spawnmarvel/TSK_testit.tech" target="_blank">Source code for testit.tech</a>
  <br>
  <a href="https://www.linkedin.com/in/espen-kleivane-7a4a8b52/" target="_blank">Linkedin</a>
</div>
{% endblock %}