{% extends "base.html" %} {% block title %}About{% endblock %} {% block body %}
<div class="jumbotron">
  <p class="style_separator">As mentioned this web app is mainly for practicing flask (a Python Microframework), Python and testing out different technologies.</p>
  <p>It is not for designing fancy images / colors and logos's. I like logic, programming, databases and backend.</p>
  
  <ul>
    <li>Python</li>
    <li>Flask</li>
    <li>Linux</li>
    <li>Sqlite</li>
    <li>Bootstrap</li>
    <li>Nginx, Gunicorn</li>
    <li>[...]</li>
  </ul>
  <br>
  <a href="https://github.com/spawnmarvel" target="_blank">Github</a>
  <br>
  <a href="https://github.com/spawnmarvel/TSK_testit.tech" target="_blank">Source code for testit.tech</a>
  <br>
  <a href="https://www.linkedin.com/in/espen-kleivane-7a4a8b52/" target="_blank">Linkedin</a>
</div>
{% endblock %}