{% extends "base.html" %} {% block title %}testit.tech{% endblock %} {% block body %}
<div class="jumbotron">
  <div class="container">
    <!-- information-->
    <p class="style_separator">This web app is mainly for practicing flask (a Python web Microframework), Python, and Jinja2.
     
      <p class="style_separator">And also for testing out different technologies / libraries and store the content on this site.</p>

      <p class="style_separator">In progress:NoteApp, MicroBlog and a chatbot with NLTK</p>
      <!-- information-->-
      <p class="style_separator">testit.tech is powered by:</p>
      <ul>
        <li>
          <a href="https://www.nginx.com/resources/wiki/" target="_blank">Nginx </a>HTTP server and reverse proxy
        </li>

        <li>
          <a href="http://gunicorn.org/" target="_blank">Gunicorn </a>Python WSGI HTTP server for UNIX
        </li>

        <li>
          <a href="https://www.digitalocean.com/" target="_blank">DigitalOcean </a>Cloud computing, designed for developers (Linux)
        </li>
        <li>
          <a href="https://domainname.shop/?currency=GBP&lang=en" target="_blank">doimainnameshop </a>Domain at doimainnameshop
        </li>
        <li>And a bunch of tutorials, and links for learning *</li>
      </ul>
      <p>
        <font size=2>* Most important links / tutorials are found under "Links used" in upper right corner of the menu</font>
      </p>
  </div>
  <br>
  <!-- web section  -->
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">To Do: (updated 01.07.2018)</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <br>
        <ul>
          <li>HTML5 tags</li>
          <li>Pylint on all modules</li>
          <li>Gunicorn upstart script</li>
          <li>Flask g, Gunicorn workers for request and thread</li>
          <li>Chatbot NLPK, Natural Language Toolkit</li>
          <li>Map Reduce Hadoop Python</li>
          <li>NoSql</li>
          <li>And what not....., pygame,psql, zabbix (api create), vsc, grafane, c# win serv, rmq </li>
        </ul>
      </div>
    </div>
  </div>

</div>




<!-- tmp section  -->
<div class="container">
  <p>

  </p>

</div>
<!-- jumbo section  -->
</div>
{% endblock %}