{% extends "base.html" %} {% block title %}testit.tech{% endblock %} {% block body %}
<div class="jumbotron">
  
    <!-- information-->
   
     
     
    {% if current_user.is_authenticated %}
      <p class="style_separator">Hi, {{ current_user.username }}, we are sorry but you can only browse this site for now.</p>
      <p class="style_separator">In the future you will be able to do more, thanks for register.</p>
      <p class="style_separator">Dashboard and Note admin is restricted.</p>
    
             
    {% else %}
    <p class="style_separator">Hm, you are not authenticated, how did you get here...</p>
              
    {% endif %}
  </div>






<!-- tmp section  -->
<div class="container">
  <p>

  </p>

</div>
<!-- jumbo section  -->
</div>
{% endblock %}