{% extends "base.html" %} {% block title %}Technologies{% endblock %} {% block body %}
<div class="jumbotron">

  <p class="style_separator">Pdf files of stuff done:</p>
  <ul>
    <li><a href="../static/pdf/nginx.pdf" target="_blank">Nginx / Gunicorn</a></li>
    <li><a href="../static/pdf/sqlite.pdf" target="_blank">SQLite</a></li>
    <li><a href="../static/pdf/sftp.pdf" target="_blank">SFTP</a></li>
    <li><a href="../static/pdf/grafana.pdf" target="_blank">Grafana</a></li>
    <li>Github</li>
    <li>Bootstrap</li>
  </ul>
</div>
{% endblock %}