{% extends "base.html" %} {% block title %}Technologies{% endblock %} {% block body %}
<div class="jumbotron">

  <p class="style_separator">Pdf files of stuff done:</p>
  <ul>
      <li>
          <a href="../static/pdf/python_34.pdf" target="_blank">Python 3.4 Quick view</a>
        </li>
    <li>
      <a href="../static/pdf/sftp.pdf" target="_blank">SFTP, SSH Secure File Transfer Protocol</a>
    </li>
    <li>
      Flask Gunicorn install / test
    </li>
    <li>
      <a href="../static/pdf/nginx.pdf" target="_blank">Nginx (Gunicorn wsgi) install / test</a>
    </li>
    <li>
      <a href="../static/pdf/grafana.pdf" target="_blank">Grafana install / test</a>
    </li>
    <li>
      <a href="../static/pdf/github.pdf" target="_blank">Github</a>
    </li>
    <li>
      Zabbix on Oracle VM virtualbox install / test
    </li>
    <li>
      <a href="../static/pdf/zabbix_unix.pdf" target="_blank">Zabbix trigger Unixtime</a>
    </li>
    <li>
      Zabbix tigger dependant
    </li>
    <li>
      Zabbix Python
    </li>
    <li>
      <a href="../static/pdf/sqlite.pdf" target="_blank">SQLite</a>
    </li>
    <li>
      PostgreSql Db link
    </li>
  </ul>
</div>
{% endblock %}