{% extends "base.html" %} {% block title %}Technologies{% endblock %} {% block body %}
<div class="jumbotron">

  <p class="style_separator">Python Pygal:
    <br>
    Pygal documentation:
    <a href="http://pygal.org/en/stable/" target="_blank">Pygal.org</a>
    <br>
    Pygal output:
    <a href="http://pygal.org/en/stable/documentation/output.html#base-64-data-uri" target="_blank">Base 64 data URI</a>
    <br>
    You can directly output a base 64 encoded data uri for <code>embed</code> or <code>image</code> inclusion:
    <br>
    <code>chart = pygal.Line()</code>
    <br>
    <code>...</code>
    <br>
    <code>chart.render_data_uri()</code>
    <br>
    # Return `data:image/svg+xml;charset=utf-8;base64,...`
  </p>
  <form action="/pypygal" method="POST">
    <!--select tag -->
    <div class="form-group">
        <label for="sel1">Select graph type:
        <select class="form-control" name="selectvalueadd" id="sel1">
          <option>Line</option>
          <option>XY</option>
          <option>Bar</option>
          <option>Treemap</option>
          <option>SolidGauge</option>
          <option>Multi-series pie</option>
        </select>
      </label>
      {{ msg }}
      </div>
    <input type="submit" name="action" value="View" class="btn btn-primary" />
    <br>
    <br>
  </form>
  <!--Graph-->
  <div class="container">
    <embed type="image/svg+xml" src={{graph_data|safe}} style="max-width: 1000px"/>
  </div>
  <!--Graph-->
</div>
{% endblock %}