{% extends "base.html" %} {% block title %}Note View{% endblock %} {% block body %}

<div class="jumbotron">
  <h4>Notebook view</h4>
  <!-- form for get btn -->
  <form action="/noteview" method="POST">
    <input type="submit" name="action" value="GetAll" class="btn btn-primary btn pull-right" />
    <br>
    <h6>Result: {{ result }}</h6>
  </form>

  <br>
  <form action="/noteview" method="POST">
    <div class="form-group">
      <!-- topic-->
       <!--select tag -->
       <div class="form-group">
          <label for="sel1">Select by topic, order by asc:</label>
          <select class="form-control" name="selectvaluetopic" id="selectedValue">
            <option>Python</option>
            <option>SQL</option>
            <option>NoSql</option>
            <option>MapReduce</option>
            <option>Hadoop / Hive</option>
            <option>Programming in general</option>
            <option>Html</option>
            <option>Linux</option>
            <option>Csharp</option>
            <option>Other</option>
          </select>
        </div>
        </div>
         <!-- post btn -->
         <input type="submit" name="action" value="GetTopic" class="btn btn-primary" />
         <br>
      </form>
      <br>
  

  <!-- note db result  -->

  {% for note in note_data %}
  <!-- for each note in db, make a jumbotron div with form-->
  <div class="jumbotron" style="background-color: rgb(235, 229, 229)">
    <h2>{{ note[2] }}:</h2>
    <p class="break_them">{{ note[1] }}</p>
    <br>
    <br>
     <a href="{{ ''.join(['', note[3]]) }}" target="_blank"> {{ note[3] }}</a>
    <br>
    <span class="glyphicon glyphicon-time"> {{ note[4] }}</span>
    
    <br>
    <br>
    <span class="label label-success">{{ note[2] }}</span>
    
  </div>



  {% endfor %}



  <!-- make a div with p, h1 not table  -->

</div>


{% endblock %}