{% extends "base.html" %} {% block title %}testit.tech{% endblock %} {% block body %}
<div class="jumbotron">
  <div class="container">
    <p class="style_separator">{{ rv }}</p>
  </div>
  <a href="test">test</a>
  <br>
  <a href="del">del</a>
  <br>
  <a href="https://overiq.com/flask/0.12/sessions-in-flask/" target="_blank">Session explained</a>
  <p> check flask and session next</p>
</div>




<!-- tmp section  -->
<div class="container">
  <p>

  </p>

</div>
<!-- jumbo section  -->
</div>
{% endblock %}